
<div class="row">
    
    <h1>
        Hard & Soft Skills
    </h1>
  
    <div class=" text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="60"
            [outerStrokeWidth]="9"
            [innerStrokeWidth]="5"
            [outerStrokeColor]= " '#0d6efd '"
            [innerStrokeColor]="' #20c997'"
            [animation]="true"
            [animationDuration]="300"
            [titleFontSize]="'1em'"
            [title]="'English'"
            [showUnits]="false"
            [subtitleFontSize]="'1em'"
            [subtitle]="'100%'"
            [subtitleFontWeight]="'10px'"
                     
 
            ></circle-progress>
        </div>
        
    
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="90"
                [radius]="60"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]= " '#0d6efd '"
                [innerStrokeColor]="' #20c997'"
                [animation]="true"
                [animationDuration]="300"
                [titleFontSize]="'1em'"
                [title]="'Sales'"
                [showUnits]="false"
                [subtitleFontSize]="'1em'"
                [subtitle]="'90%'"
     
                ></circle-progress>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                    [percent]="50"
                    [radius]="60"
                    [outerStrokeWidth]="9"
                    [innerStrokeWidth]="5"
                    [outerStrokeColor]= " '#0d6efd '"
                    [innerStrokeColor]="' #20c997'"
                    [animation]="true"
                    [animationDuration]="200"
                    [titleFontSize]="'1em'"
                    [title]="'Angular'"
                    [showUnits]="false"
                    [subtitleFontSize]="'1em'"
                    [subtitle]="'50%'"
         
                    ></circle-progress>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                        [percent]="70"
                        [radius]="60"
                        [outerStrokeWidth]="9"
                        [innerStrokeWidth]="5"
                        [outerStrokeColor]= " '#0d6efd '"
                        [innerStrokeColor]="' #20c997'"
                        [animation]="true"
                        [animationDuration]="300"
                        [titleFontSize]="'1em'"
                        [title]="'HTML '"
                        [showUnits]="false"
                        [subtitleFontSize]="'1em'"
                        [subtitle]="'70%'"
             
                        ></circle-progress>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <circle-progress
                            [percent]="85"
                            [radius]="60"
                            [outerStrokeWidth]="9"
                            [innerStrokeWidth]="5"
                            [outerStrokeColor]= " '#0d6efd '"
                            [innerStrokeColor]="' #20c997'"
                            [animation]="true"
                            [animationDuration]="300"
                            [titleFontSize]="'1em'"
                            [title]="'Administración'"
                            [showUnits]="false"
                            [subtitleFontSize]="'1em'"
                            [subtitle]="'85%'"
                 
                            ></circle-progress>
                        </div>
 
                    
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <circle-progress
                            [percent]="100"
                            [radius]="60"
                            [outerStrokeWidth]="9"
                            [innerStrokeWidth]="5"
                            [outerStrokeColor]= " '#0d6efd '"
                            [innerStrokeColor]="' #20c997'"
                            [animation]="true"
                            [animationDuration]="300"
                            [titleFontSize]="'1em'"
                            [title]="'RRPP'"
                            [showUnits]="false"
                            [subtitleFontSize]="'1em'"
                            [subtitle]="'100%'"
                 
                            ></circle-progress>
                        </div>
                    
</div>


