<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logo">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.linkedin.com/in/victoria-casellas-4b7674ba/?original_referer="><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="https://github.com/VictoriaCasellas"><img src="../../../assets/github.png" id="github"></a>
                <a href="https://www.facebook.com/victoriacasellas/"><img src="../../../assets/facebook.png" id="facebook"></a>
                <a href="https://www.instagram.com/victoriacasellas/?next=%2F"><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href="https://twitter.com/vicocasellas"><img src="../../../assets/twitter.png" id="twitter"></a>
                
                <button type="button" class="btn btn-outline-light"> Ingreso</button>
                </div>
        </div>
    </div>
</div>



