<div class="row">
  <h1>Educación</h1> 
  <div class = "col-lg-11">
  <ul>
    <li>
        <h2> Full Stack Developer Jr</h2> -  <h3>fecha</h3>
    </li>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At recusandae consequuntur possimus eveniet, minima adipisci? Unde distinctio veniam consequatur laboriosam, sequi facere assumenda blanditiis eveniet perspiciatis et amet laudantium minima?</p>
  </ul>

  <ul>
    <li>
        <h2> Ventas </h2> - <h3>fecha</h3>
    </li>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At recusandae consequuntur possimus eveniet, minima adipisci? Unde distinctio veniam consequatur laboriosam, sequi facere assumenda blanditiis eveniet perspiciatis et amet laudantium minima?</p>
  </ul>

  <ul>
    <li>
        <h2> Tecnicatura Superior en Administración Hotelera </h2> - <h3>fecha</h3>
    </li>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At recusandae consequuntur possimus eveniet, minima adipisci? Unde distinctio veniam consequatur laboriosam, sequi facere assumenda blanditiis eveniet perspiciatis et amet laudantium minima?</p>
  </ul>
</div>
</div>


